.ctgm-car {
    display: none !important;
}

.bgSidebar .close {
    display: none;
}

.modal .card-body {
    padding: 0;
    margin: 0 0 10px 0;
}

.loading-backdrop{
    position: fixed;
    z-index: 999999999;
    top: 0;
    width: 100%;
    height: 100%;
}

.infoProducto .modal-dialog .close {
    border-radius: 50px;
    opacity: 1 !important;
}

@media only screen and (max-width: 600px) {
    *{
        text-rendering: optimizelegibility;
    }

    .card-product {
        padding: 15px;
        transition: all .2s ease-in-out;
    }

    /*MODALS*/

    .infoProducto .modal-dialog .close {
        align-items: center;
        height: 30px;
        width: 30px;
        text-align: center;
        background-color: #fff;
        opacity: 1;
        position: absolute;
        right: 8px;
        top: 0px;
    }

    .infoProducto .modal-dialog .close span{
        opacity: .5;
    }

    #modal-endbought img, #modal-payplanet img, #modal-confirm img, #codigo-recaudacion img {
        margin-top: -10px;
    }

    #modal-user-direction .modal-body .row,
    #modal-user-store .modal-body .row,
    #modal-product-details .modal-body .row {
        width: auto !important;
        height: 100%;
        display: block;
    }

    .awesomeRaulForm.detail {
        margin: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    #main-map .addres {
        padding: 0;
    }

    .modal:not(#state-order) .modal-content {
        width: 95vw !important;
        margin: 0 auto;
    }
    
    #modal-product-details .mdps-extras {
        overflow-y: unset;
        height: auto;
        padding: 0 1.5rem !important;
    }

    #close-store .modal-content {
        width: 95vw !important;
    }

    #close-store .info-detail{
        height: 100% !important
    }

    #close-store .modal-content .img-borderless {
        background-position-x: center;
        background-position-y: center;
        width: 100%;
        left: 0;
        right: 0;
        height: calc(100% - 96px);
    }

    .info-detail {
        height: max-content !important;
    }

    .info-detail .card-body {
        padding: 5px 0px !important;
    }

    .modal .modal-footer {
        position: relative !important;
    }

    .cardProduct {
        padding-top: 1rem !important;
        padding: 0.25rem 0 !important;
        width: 100%;
        margin-bottom: 0 !important;
    }

    .direction-list .direction-item{
        padding: 0 0;
    }

    .addresOp.active {
        padding-top: 10px;
        border: 1px solid #e6bc40;
        border-radius: 15px;
    }

    /*CATEGORIES*/
    .product-list {
        height: 87vh;
        overflow-y: auto;
        padding: 10px 0 125px 0;
    }

    .product-list::-webkit-scrollbar {
        display: none;}

    .product-list .card h5 {
        font-size: 20px;
    }

    .product-list .card .card-body {
        padding: 10px 0 0 0!important
    }

    .product-list .card p {
        font-size: 16px;
        line-height: 22px;
        height: 45px;
    }

    .product-list .card .price h4 {
        font-size: 18px;
    }

    .ctgm-car {
        background-color: #BD1218;
        font-size: 16px !important;
        display: inline-flex !important;
        border: 0;
        border-radius: 0;
        position: absolute;
        width: calc(100%);
        left: 0;
        bottom: 0;
        z-index: 1040;
    }

    .ctgm-car .svgheader-pizza {
        filter: invert(1);
    }

    .ctgm-car .counter {
        background-color: #E4B917;
        font-size: 14px;
        font-weight: 700;
        color: #2a2a2a;
        min-width: 20px;
        min-height: 20px;
        border-radius: 6px;
        padding: 1px 6px 0px 7px;
        position: absolute;
        top: 28px;
        left: 23px;
    }

    .ctgm-car div {
        color: #fff;
    }

    .ctgm-car .align {
        display: inline;
    }

    .ctgm-car .pt-1.main-total {
        padding-top: 0 !important;
        color: #fff;
    }

    .bgSidebar {
        transition: 0.3s;
    }

    .bgSidebar.show {
        background-color: #f9fafc !important;
        transition: 0.3s;
        z-index: 1040;
        height: calc(100% - 55px) !important;
        width: 100vw;
        overflow: hidden;
        left: 0;
    }

    .bgSidebar.show .close span {
        color: #3B444D;
        font-weight: bold;
    }

    .bgSidebar.show .iconBar {
        position: absolute;
        top: 0;
        right: 50px;
    }

    .bgSidebar.show .close {
        margin: 10px 0;
        display: block;
    }

    .bgSidebar.show .scrollCart {
        height: calc(100vh - 346px);
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .optionsStore {
        border-radius: 20px;
    }

    .tittle-terms {
        text-align: center;
        padding: 10px 0 0 0 !important;
    }

    #map-address{
        margin: 0px !important;
    }

    .scrollMap{
        display: none;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .btn-update-log {
        margin: 20px 0 0 0 !important;
        width: 100% !important;
    }

    .my-account-save {
        margin: 0 15px;
        width: calc(100% - 30px);
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .cardPromo-info.left h5 {
        font-size: 22px;
    }
}